body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #006d77;
  color: white;
  text-align: center;
  padding: 30px 10px;
}

section {
  padding: 20px;
}

footer {
  background-color: #006d77;
  color: white;
  text-align: center;
  padding: 15px;
}